<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=name %>
    </title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
<script>
    var qst =<%-JSON.stringify(qst)%>
</script>
    <script src='/javascripts/pollPage.js'></script>
    <link rel="stylesheet" href="/stylesheets/pollPage.css">
</head>

<body>
    <div class='container-fulid'>
        <div class='nav'>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
                        <a class="navbar-brand" href="/">Vot8er</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/users">Home</a></li>
                            <li ><a href="/polls/new">New polls</a></li>
                             <li><a href="/users/myPolls" >My Polls</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=name%>
        <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/users/logout">Log Out</a></li>
                                </ul>
                            </li>
            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
          <div class="row">
               <div class="qst col-sm-5">
               <h2><%=qst.question%></h2>
               <h5>by <%=' '+qst.createdBy.name%></h5>
               <div class="row">
                   <div class="col-sm-4 center">
                       <div class="form-group">
                  <label for="sel1">Options:</label>
                  <select class="form-control" id="sel1">
                      <%for(var i=0;i<qst.options.length;i++){%>
                        <option value="<%=qst.options[i].field%>"><%=qst.options[i].field%></option>
                    <%}%>
                  </select>
                   </div>
                  <button type="button" class='btn btn-success'>Submit</button><br>
                  <a class='btn xm' href='https://www.facebook.com/sharer.php?u=http://vote8er.herokuapp.com/<%=qst._id%>' ><i class="fa fa-facebook fa-fb" aria-hidden="true"></i></a>
                   </div>
               </div>
                </div>
                <div class="col-sm-7 chart">
                    <canvas id="myChart" height="200"></canvas>
                </div>
           </div>
       </div>
            <div class="footer text-center">
                copyrights &copy; Priyansh 2016.
            </div>
        </div>
       
</body>

</html>